<div class="container">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Role</th>
    </thead>
    <tbody>
      <tr>
        <td><%= @user.name %></td>
        <td>
          <%= @user.role %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
