<div class="container text-center">
  <h2>User Details</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>Name: <%= @user.name %></h4>
      <h5>Role: <%= @user.role %></h4>
    </div>
  </div>
</div>
