<div class="container text-center">
  <h2>Customer Details</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <h5>Customer ID: <%= @customer.customer_id %></h4>
      <h5>Name: <%= @customer.name %></h4>
      <h5>Email: <%= @customer.email %></h4>
      <h5>Group: <%= @customer.group %></h4>
    </div>
  </div>
</div>
